body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 6rem;
}

button {
  padding: 9rem 12rem;
  background-color: black;
  color: white;
  font-size: 3rem;
  border-radius: 12px;
}